body {
    font-family: 'Comic Sans MS', cursive;
}

body {
    background-color: lightblue;
}

/* global style for all input fields and textareas */
input[type="text"], textarea {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

input[type="text"], textarea {
    color: rgb(0, 0, 0);
}
input[type="text"], textarea {
    background-color: rgb(252, 223, 227); /* Or your desired color */
}
